---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [51]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [4]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [57]:
df['T_Gold']=df['Gold']+df['Gold.1']+df['Gold.2']
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,G_diff,T_Gold
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0,0
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG,5,10
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG,18,36
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM,1,2
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ,3,6

In [58]:
df=df.sort_values('T_Gold')
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,G_diff,T_Gold
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0,0
Namibia,6,0,4,0,4,0,0,0,0,0,6,0,4,0,4,NAM,0,0
Montenegro,2,0,1,0,1,2,0,0,0,0,4,0,1,0,1,MNE,0,0
Moldova,5,0,2,5,7,6,0,0,0,0,11,0,2,5,7,MDA,0,0
Mauritius,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,MRI,0,0
Malaysia,12,0,3,3,6,0,0,0,0,0,12,0,3,3,6,MAS,0,0
Macedonia,5,0,0,1,1,5,0,0,0,0,10,0,0,1,1,MKD,0,0
Netherlands Antilles,13,0,1,0,1,2,0,0,0,0,15,0,1,0,1,AHO,0,0
Lebanon,16,0,2,2,4,16,0,0,0,0,32,0,2,2,4,LIB,0,0
Iraq,13,0,0,1,1,0,0,0,0,0,13,0,0,1,1,IRQ,0,0
Iceland,19,0,2,2,4,17,0,0,0,0,36,0,2,2,4,ISL,0,0
Haiti,14,0,1,1,2,0,0,0,0,0,14,0,1,1,2,HAI,0,0
Guyana,16,0,0,1,1,0,0,0,0,0,16,0,0,1,1,GUY,0,0
Guatemala,13,0,1,0,1,1,0,0,0,0,14,0,1,0,1,GUA,0,0
Ghana,13,0,1,3,4,1,0,0,0,0,14,0,1,3,4,GHA,0,0
Kuwait,12,0,0,2,2,0,0,0,0,0,12,0,0,2,2,KUW,0,0
Niger,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,NIG,0,0
Paraguay,11,0,1,0,1,1,0,0,0,0,12,0,1,0,1,PAR,0,0
Philippines,20,0,2,7,9,4,0,0,0,0,24,0,2,7,9,PHI,0,0
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM,0,0
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP,0,0
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV,0,0
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE,0,0
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA,0,0
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG,0,0
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN,0,0
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,TJK,0,0
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD,0,0
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI,0,0
Singapore,15,0,2,2,4,0,0,0,0,0,15,0,2,2,4,SIN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR,39,78
New Zealand,22,42,18,39,99,15,0,1,0,1,37,42,19,39,100,NZL,42,84
Denmark,26,43,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN,43,86
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,47,102
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50,104
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,36,108
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,45,134
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,58,140
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB,72,144
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,-41,154
Romania,20,88,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU,88,176
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI,-3,194
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,55,214
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,40,228
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN,-3,242
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,120,280
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,59,286
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134,288
Hungary,25,167,144,165,476,22,0,2,4,6,47,167,146,169,482,HUN,167,334
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,-62,348
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,83,362
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,114,384
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,93,386
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189,426
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,171,466
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,161,470
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,226,492
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,96,504
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,317,946
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880,2144

In [10]:
df.iloc[-1]

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 USA
T_Gold            2144
Name: United States, dtype: object

In [11]:
df.max()

# Summer            27
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1             118
Silver.1           111
Bronze.1           100
Total.1            329
# Games             49
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 ZZX
T_Gold            2144
dtype: object

In [35]:
#Method #1
def answer_one(df=df):
    df['T_Gold']=df['Gold']+df['Gold.1']+df['Gold.2']
    df=df.sort_values('T_Gold') 
    v=df.iloc[-1]
    return v

In [37]:
#Method #2

def answer_one():
    df['T_Gold']=df['Gold']+df['Gold.1']+df['Gold.2']
   
    return df.max()

In [38]:
answer_one()

# Summer            27
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1             118
Silver.1           111
Bronze.1           100
Total.1            329
# Games             49
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 ZZX
T_Gold            2144
dtype: object

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [60]:
df['G_diff']=abs(df['Gold']-df['Gold.1'])

In [61]:
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,G_diff,T_Gold
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,62,348
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,41,154
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI,3,194
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN,3,242
Liechtenstein,16,0,0,0,0,18,2,2,5,9,34,2,2,5,9,LIE,2,4
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0,0
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI,0,0
Singapore,15,0,2,2,4,0,0,0,0,0,15,0,2,2,4,SIN,0,0
Senegal,13,0,1,0,1,5,0,0,0,0,18,0,1,0,1,SEN,0,0
Saudi Arabia,10,0,1,2,3,0,0,0,0,0,10,0,1,2,3,KSA,0,0
Qatar,8,0,0,4,4,0,0,0,0,0,8,0,0,4,4,QAT,0,0
Puerto Rico,17,0,2,6,8,6,0,0,0,0,23,0,2,6,8,PUR,0,0
Gabon,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,GAB,0,0
Eritrea,4,0,0,1,1,0,0,0,0,0,4,0,0,1,1,ERI,0,0
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN,0,0
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH,0,0
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD,0,0
Djibouti,7,0,0,1,1,0,0,0,0,0,7,0,0,1,1,DJI,0,0
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER,0,0
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT,0,0
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP,0,0
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI,0,0
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV,0,0
Kyrgyzstan,5,0,1,2,3,6,0,0,0,0,11,0,1,2,3,KGZ,0,0
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,TJK,0,0
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR,0,0
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG,0,0
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN,0,0
Malaysia,12,0,3,3,6,0,0,0,0,0,12,0,3,3,6,MAS,0,0
Mauritius,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,MRI,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Greece,27,30,42,39,111,18,0,0,0,0,45,30,42,39,111,GRE,30,60
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR,31,70
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,36,76
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36,76
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,36,108
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR,39,78
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,40,228
New Zealand,22,42,18,39,99,15,0,1,0,1,37,42,19,39,100,NZL,42,84
Denmark,26,43,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN,43,86
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,45,134
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,47,102
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50,104
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,55,214
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,58,140
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,59,286
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB,72,144
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,83,362
Romania,20,88,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU,88,176
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,93,386
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,96,504
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,114,384
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,120,280
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134,288
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,161,470
Hungary,25,167,144,165,476,22,0,2,4,6,47,167,146,169,482,HUN,167,334
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,171,466
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189,426
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,226,492
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,317,946
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880,2144

In [62]:
df=df.sort_values('G_diff')
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,G_diff,T_Gold
Lebanon,16,0,2,2,4,16,0,0,0,0,32,0,2,2,4,LIB,0,0
Malaysia,12,0,3,3,6,0,0,0,0,0,12,0,3,3,6,MAS,0,0
Mauritius,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,MRI,0,0
Moldova,5,0,2,5,7,6,0,0,0,0,11,0,2,5,7,MDA,0,0
Montenegro,2,0,1,0,1,2,0,0,0,0,4,0,1,0,1,MNE,0,0
Macedonia,5,0,0,1,1,5,0,0,0,0,10,0,0,1,1,MKD,0,0
Netherlands Antilles,13,0,1,0,1,2,0,0,0,0,15,0,1,0,1,AHO,0,0
Iraq,13,0,0,1,1,0,0,0,0,0,13,0,0,1,1,IRQ,0,0
Iceland,19,0,2,2,4,17,0,0,0,0,36,0,2,2,4,ISL,0,0
Namibia,6,0,4,0,4,0,0,0,0,0,6,0,4,0,4,NAM,0,0
Haiti,14,0,1,1,2,0,0,0,0,0,14,0,1,1,2,HAI,0,0
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG,0,0
Guatemala,13,0,1,0,1,1,0,0,0,0,14,0,1,0,1,GUA,0,0
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE,0,0
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV,0,0
Guyana,16,0,0,1,1,0,0,0,0,0,16,0,0,1,1,GUY,0,0
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM,0,0
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP,0,0
Paraguay,11,0,1,0,1,1,0,0,0,0,12,0,1,0,1,PAR,0,0
Niger,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,NIG,0,0
Kuwait,12,0,0,2,2,0,0,0,0,0,12,0,0,2,2,KUW,0,0
Ghana,13,0,1,3,4,1,0,0,0,0,14,0,1,3,4,GHA,0,0
Philippines,20,0,2,7,9,4,0,0,0,0,24,0,2,7,9,PHI,0,0
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA,0,0
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR,0,0
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN,0,0
Kyrgyzstan,5,0,1,2,3,6,0,0,0,0,11,0,1,2,3,KGZ,0,0
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0,0
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI,0,0
Singapore,15,0,2,2,4,0,0,0,0,0,15,0,2,2,4,SIN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,36,76
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36,76
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,36,108
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR,39,78
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,40,228
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,41,154
New Zealand,22,42,18,39,99,15,0,1,0,1,37,42,19,39,100,NZL,42,84
Denmark,26,43,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN,43,86
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,45,134
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,47,102
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50,104
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,55,214
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,58,140
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,59,286
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,62,348
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB,72,144
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,83,362
Romania,20,88,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU,88,176
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,93,386
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,96,504
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,114,384
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,120,280
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134,288
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,161,470
Hungary,25,167,144,165,476,22,0,2,4,6,47,167,146,169,482,HUN,167,334
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,171,466
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189,426
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,226,492
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,317,946
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880,2144

In [63]:
df.iloc[-1]

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 USA
G_diff             880
T_Gold            2144
Name: United States, dtype: object

In [65]:
def answer_two(df=df):
    df['G_diff']=abs(df['Gold']-df['Gold.1'])
    df.sort_values('G_diff')
    return df.iloc[-1]

answer_two()

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 USA
G_diff             880
T_Gold            2144
Name: United States, dtype: object

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [67]:
df[(df['Gold']>0) & (df['Gold.1']>0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,G_diff,T_Gold
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34,SLO,2,12
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO,2,20
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI,3,194
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN,3,242
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB,4,12
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40,EST,5,26
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29,SVK,5,18
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR,6,36
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68,CZE,7,42
Kazakhstan,5,16,17,19,52,6,1,3,3,7,11,17,20,22,59,KAZ,15,34
United Team of Germany,3,28,54,36,118,3,8,6,5,19,6,36,60,41,137,EUA,20,72
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR,31,70
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,36,76
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36,76
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,36,108
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,40,228
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,41,154
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,45,134
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,47,102
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50,104
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,55,214
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,58,140
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,59,286
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,62,348
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,83,362
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,93,386
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,96,504
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,114,384
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,120,280
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134,288
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,161,470
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,171,466
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189,426
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,226,492
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,317,946
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880,2144

In [71]:
df['TGold']=df['Gold']+df['Gold.1']+df['Gold.2']
df['G_diff']=abs(df['Gold']-df['Gold.1'])/df['TGold']
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,G_diff,T_Gold,TGold
Lebanon,16,0,2,2,4,16,0,0,0,0,32,0,2,2,4,LIB,NaN,0,0
Malaysia,12,0,3,3,6,0,0,0,0,0,12,0,3,3,6,MAS,NaN,0,0
Mauritius,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,MRI,NaN,0,0
Moldova,5,0,2,5,7,6,0,0,0,0,11,0,2,5,7,MDA,NaN,0,0
Montenegro,2,0,1,0,1,2,0,0,0,0,4,0,1,0,1,MNE,NaN,0,0
Macedonia,5,0,0,1,1,5,0,0,0,0,10,0,0,1,1,MKD,NaN,0,0
Netherlands Antilles,13,0,1,0,1,2,0,0,0,0,15,0,1,0,1,AHO,NaN,0,0
Iraq,13,0,0,1,1,0,0,0,0,0,13,0,0,1,1,IRQ,NaN,0,0
Iceland,19,0,2,2,4,17,0,0,0,0,36,0,2,2,4,ISL,NaN,0,0
Namibia,6,0,4,0,4,0,0,0,0,0,6,0,4,0,4,NAM,NaN,0,0
Haiti,14,0,1,1,2,0,0,0,0,0,14,0,1,1,2,HAI,NaN,0,0
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG,NaN,0,0
Guatemala,13,0,1,0,1,1,0,0,0,0,14,0,1,0,1,GUA,NaN,0,0
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE,NaN,0,0
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV,NaN,0,0
Guyana,16,0,0,1,1,0,0,0,0,0,16,0,0,1,1,GUY,NaN,0,0
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM,NaN,0,0
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP,NaN,0,0
Paraguay,11,0,1,0,1,1,0,0,0,0,12,0,1,0,1,PAR,NaN,0,0
Niger,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,NIG,NaN,0,0
Kuwait,12,0,0,2,2,0,0,0,0,0,12,0,0,2,2,KUW,NaN,0,0
Ghana,13,0,1,3,4,1,0,0,0,0,14,0,1,3,4,GHA,NaN,0,0
Philippines,20,0,2,7,9,4,0,0,0,0,24,0,2,7,9,PHI,NaN,0,0
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA,NaN,0,0
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR,NaN,0,0
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN,NaN,0,0
Kyrgyzstan,5,0,1,2,3,6,0,0,0,0,11,0,1,2,3,KGZ,NaN,0,0
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,NaN,0,0
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI,NaN,0,0
Singapore,15,0,2,2,4,0,0,0,0,0,15,0,2,2,4,SIN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,0.473684,76,76
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,0.473684,76,76
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,0.333333,108,108
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR,0.500000,78,78
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,0.175439,228,228
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,0.266234,154,154
New Zealand,22,42,18,39,99,15,0,1,0,1,37,42,19,39,100,NZL,0.500000,84,84
Denmark,26,43,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN,0.500000,86,86
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,0.335821,134,134
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,0.460784,102,102
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,0.480769,104,104
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,0.257009,214,214
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,0.414286,140,140
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,0.206294,286,286
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,0.178161,348,348
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB,0.500000,144,144
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,0.229282,362,362
Romania,20,88,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU,0.500000,176,176
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,0.240933,386,386
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,0.190476,504,504
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,0.296875,384,384
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,0.428571,280,280
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,0.465278,288,288
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,0.342553,470,470
Hungary,25,167,144,165,476,22,0,2,4,6,47,167,146,169,482,HUN,0.500000,334,334
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,0.366953,466,466
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,0.443662,426,426
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,0.459350,492,492
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,0.335095,946,946
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,0.410448,2144,2144

In [72]:
def answer_three(df=df):
    df=df[(df['Gold']>0) & (df['Gold.1']>0)]
    df['TGold']=df['Gold']+df['Gold.1']+df['Gold.2']
    df['G_diff']=abs(df['Gold']-df['Gold.1'])/df['TGold']
    df.sort_values('G_diff')
    return df.iloc[-1]

answer_three()

C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

# Summer                26
Gold                   976
Silver                 757
Bronze                 666
Total                 2399
# Winter                22
Gold.1                  96
Silver.1               102
Bronze.1                84
Total.1                282
# Games                 48
Gold.2                1072
Silver.2               859
Bronze.2               750
Combined total        2681
ID                     USA
G_diff            0.410448
T_Gold                2144
TGold                 2144
Name: United States, dtype: object

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [74]:
Points=df['Gold.2']*3 +df['Silver.2']*2+df['Bronze.2']*1
Points

Lebanon                                6
Malaysia                               9
Mauritius                              1
Moldova                                9
Montenegro                             2
Macedonia                              1
Netherlands Antilles                   2
Iraq                                   1
Iceland                                6
Namibia                                8
Haiti                                  3
Togo                                   1
Guatemala                              2
Vietnam                                4
Virgin Islands                         2
Guyana                                 1
Zambia                                 3
Independent Olympic Participants       4
Paraguay                               2
Niger                                  1
Kuwait                                 2
Ghana                                  5
Philippines                           11
Tonga                                  2
Barbados                               1
Tanzania                               4
Kyrgyzstan                             4
Afghanistan                            2
Sri Lanka                              4
Singapore                              6
                                    ...
Spain                                268
Belgium                              276
Unified Team                         287
Turkey                               191
Netherlands                          727
Austria                              569
New Zealand                          203
Denmark                              335
West Germany                         459
Czechoslovakia                       327
Bulgaria                             411
South Korea                          609
Poland                               520
Finland                              895
Norway                               985
Cuba                                 420
Russia                              1042
Romania                              572
Sweden                              1217
Germany                             1546
East Germany                        1068
Japan                                866
Australia                            923
Italy                               1333
Hungary                              962
France                              1500
China                               1120
Great Britain                       1574
Soviet Union                        2526
United States                       5684
Length: 146, dtype: int64

In [77]:
Points.index

Index(['Lebanon', 'Malaysia', 'Mauritius', 'Moldova', 'Montenegro',
       'Macedonia', 'Netherlands Antilles', 'Iraq', 'Iceland', 'Namibia',
       ...
       'East Germany', 'Japan', 'Australia', 'Italy', 'Hungary', 'France',
       'China', 'Great Britain', 'Soviet Union', 'United States'],
      dtype='object', length=146)

In [78]:
type(Points)

pandas.core.series.Series

In [79]:
def answer_four(df=df):
    Points=df['Gold.2']*3 +df['Silver.2']*2+df['Bronze.2']*1
    return Points

In [80]:
answer_four()

Lebanon                                6
Malaysia                               9
Mauritius                              1
Moldova                                9
Montenegro                             2
Macedonia                              1
Netherlands Antilles                   2
Iraq                                   1
Iceland                                6
Namibia                                8
Haiti                                  3
Togo                                   1
Guatemala                              2
Vietnam                                4
Virgin Islands                         2
Guyana                                 1
Zambia                                 3
Independent Olympic Participants       4
Paraguay                               2
Niger                                  1
Kuwait                                 2
Ghana                                  5
Philippines                           11
Tonga                                  2
Barbados                               1
Tanzania                               4
Kyrgyzstan                             4
Afghanistan                            2
Sri Lanka                              4
Singapore                              6
                                    ...
Spain                                268
Belgium                              276
Unified Team                         287
Turkey                               191
Netherlands                          727
Austria                              569
New Zealand                          203
Denmark                              335
West Germany                         459
Czechoslovakia                       327
Bulgaria                             411
South Korea                          609
Poland                               520
Finland                              895
Norway                               985
Cuba                                 420
Russia                              1042
Romania                              572
Sweden                              1217
Germany                             1546
East Germany                        1068
Japan                                866
Australia                            923
Italy                               1333
Hungary                              962
France                              1500
China                               1120
Great Britain                       1574
Soviet Union                        2526
United States                       5684
Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [92]:
census_df = pd.read_csv('census.csv')
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3169,40,4,8,56,0,Wyoming,Wyoming,563626,563767,564516,...,-0.381530,9.636214,4.487115,-4.788275,-3.221091,0.289680,10.694870,5.440390,-3.727831,-2.091573
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [86]:
df1=census_df.set_index(['STNAME','CTYNAME'])
df1

                              SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME    CTYNAME
Alabama   Alabama                 40       3         6      1       0
          Autauga County          50       3         6      1       1
          Baldwin County          50       3         6      1       3
          Barbour County          50       3         6      1       5
          Bibb County             50       3         6      1       7
          Blount County           50       3         6      1       9
          Bullock County          50       3         6      1      11
          Butler County           50       3         6      1      13
          Calhoun County          50       3         6      1      15
          Chambers County         50       3         6      1      17
          Cherokee County         50       3         6      1      19
          Chilton County          50       3         6      1      21
          Choctaw County          50       3         6      1      23
          Clarke County           50       3         6      1      25
          Clay County             50       3         6      1      27
          Cleburne County         50       3         6      1      29
          Coffee County           50       3         6      1      31
          Colbert County          50       3         6      1      33
          Conecuh County          50       3         6      1      35
          Coosa County            50       3         6      1      37
          Covington County        50       3         6      1      39
          Crenshaw County         50       3         6      1      41
          Cullman County          50       3         6      1      43
          Dale County             50       3         6      1      45
          Dallas County           50       3         6      1      47
          DeKalb County           50       3         6      1      49
          Elmore County           50       3         6      1      51
          Escambia County         50       3         6      1      53
          Etowah County           50       3         6      1      55
          Fayette County          50       3         6      1      57
...                              ...     ...       ...    ...     ...
Wisconsin Washington County       50       2         3     55     131
          Waukesha County         50       2         3     55     133
          Waupaca County          50       2         3     55     135
          Waushara County         50       2         3     55     137
          Winnebago County        50       2         3     55     139
          Wood County             50       2         3     55     141
Wyoming   Wyoming                 40       4         8     56       0
          Albany County           50       4         8     56       1
          Big Horn County         50       4         8     56       3
          Campbell County         50       4         8     56       5
          Carbon County           50       4         8     56       7
          Converse County         50       4         8     56       9
          Crook County            50       4         8     56      11
          Fremont County          50       4         8     56      13
          Goshen County           50       4         8     56      15
          Hot Springs County      50       4         8     56      17
          Johnson County          50       4         8     56      19
          Laramie County          50       4         8     56      21
          Lincoln County          50       4         8     56      23
          Natrona County          50       4         8     56      25
          Niobrara County         50       4         8     56      27
          Park County             50       4         8     56      29
          Platte County           50       4         8     56      31
          Sheridan County         50       4         8     56      33
          Sublette County         50       4         8     56      35
          Sweetwater County       50       4         8     56      37
          Teton County            50       4         8     56      39
          Uinta County            50       4         8     56      41
          Washakie County         50       4         8     56      43
          Weston County           50       4         8     56      45

                              CENSUS2010POP  ESTIMATESBASE2010  \
STNAME    CTYNAME
Alabama   Alabama                   4779736            4780127
          Autauga County              54571              54571
          Baldwin County             182265             182265
          Barbour County              27457              27457
          Bibb County                 22915              22919
          Blount County               57322              57322
          Bullock County              10914              10915
          Butler County               20947              20946
          Calhoun County             118572             118586
          Chambers County             34215              34170
          Cherokee County             25989              25986
          Chilton County              43643              43631
          Choctaw County              13859              13858
          Clarke County               25833              25840
          Clay County                 13932              13932
          Cleburne County             14972              14972
          Coffee County               49948              49948
          Colbert County              54428              54428
          Conecuh County              13228              13228
          Coosa County                11539              11758
          Covington County            37765              37765
          Crenshaw County             13906              13906
          Cullman County              80406              80410
          Dale County                 50251              50251
          Dallas County               43820              43820
          DeKalb County               71109              71115
          Elmore County               79303              79296
          Escambia County             38319              38319
          Etowah County              104430             104427
          Fayette County              17241              17241
...                                     ...                ...
Wisconsin Washington County          131887             131885
          Waukesha County            389891             389938
          Waupaca County              52410              52410
          Waushara County             24496              24496
          Winnebago County           166994             166994
          Wood County                 74749              74749
Wyoming   Wyoming                    563626             563767
          Albany County               36299              36299
          Big Horn County             11668              11668
          Campbell County             46133              46133
          Carbon County               15885              15885
          Converse County             13833              13833
          Crook County                 7083               7083
          Fremont County              40123              40123
          Goshen County               13249              13247
          Hot Springs County           4812               4812
          Johnson County               8569               8569
          Laramie County              91738              91881
          Lincoln County              18106              18106
          Natrona County              75450              75450
          Niobrara County              2484               2484
          Park County                 28205              28205
          Platte County                8667               8667
          Sheridan County             29116              29116
          Sublette County             10247              10247
          Sweetwater County           43806              43806
          Teton County                21294              21294
          Uinta County                21118              21118
          Washakie County              8533               8533
          Weston County                7208               7208

                              POPESTIMATE2010  POPESTIMATE2011  \
STNAME    CTYNAME
Alabama   Alabama                     4785161          4801108
          Autauga County                54660            55253
          Baldwin County               183193           186659
          Barbour County                27341            27226
          Bibb County                   22861            22733
          Blount County                 57373            57711
          Bullock County                10887            10629
          Butler County                 20944            20673
          Calhoun County               118437           117768
          Chambers County               34098            33993
          Cherokee County               25976            26080
          Chilton County                43665            43739
          Choctaw County                13841            13593
          Clarke County                 25767            25570
          Clay County                   13880            13670
          Cleburne County               14973            14971
          Coffee County                 50177            50448
          Colbert County                54514            54443
          Conecuh County                13208            13121
          Coosa County                  11758            11348
          Covington County              37796            38060
          Crenshaw County               13853            13896
          Cullman County                80473            80469
          Dale County                   50358            50109
          Dallas County                 43803            43178
          DeKalb County                 71142            71387
          Elmore County                 79465            80012
          Escambia County               38309            38213
          Etowah County                104442           104236
          Fayette County                17231            17062
...                                       ...              ...
Wisconsin Washington County            131967           132225
          Waukesha County              390076           390808
          Waupaca County                52422            52342
          Waushara County               24506            24581
          Winnebago County             167059           167630
          Wood County                   74807            74647
Wyoming   Wyoming                      564516           567768
          Albany County                 36428            36908
          Big Horn County               11672            11745
          Campbell County               46244            46600
          Carbon County                 15837            15817
          Converse County               13826            13728
          Crook County                   7114             7129
          Fremont County                40222            40591
          Goshen County                 13408            13597
          Hot Springs County             4813             4818
          Johnson County                 8581             8636
          Laramie County                92271            92663
          Lincoln County                18091            18022
          Natrona County                75472            76420
          Niobrara County                2492             2485
          Park County                   28259            28473
          Platte County                  8678             8701
          Sheridan County               29146            29275
          Sublette County               10244            10142
          Sweetwater County             43593            44041
          Teton County                  21297            21482
          Uinta County                  21102            20912
          Washakie County                8545             8469
          Weston County                  7181             7114

                              POPESTIMATE2012     ...       RDOMESTICMIG2011  \
STNAME    CTYNAME                                 ...
Alabama   Alabama                     4816089     ...               0.002295
          Autauga County                55175     ...               7.242091
          Baldwin County               190396     ...              14.832960
          Barbour County                27159     ...              -4.728132
          Bibb County                   22642     ...              -5.527043
          Blount County                 57776     ...               1.807375
          Bullock County                10606     ...             -30.953709
          Butler County                 20408     ...             -14.032727
          Calhoun County               117286     ...              -6.155670
          Chambers County               34075     ...              -2.731639
          Cherokee County               26023     ...               6.339327
          Chilton County                43697     ...              -1.372935
          Choctaw County                13543     ...             -15.455274
          Clarke County                 25144     ...              -6.194363
          Clay County                   13456     ...             -10.744102
          Cleburne County               14921     ...              -3.673524
          Coffee County                 51173     ...               0.377640
          Colbert County                54472     ...              -0.073423
          Conecuh County                12996     ...              -4.861559
          Coosa County                  11195     ...             -33.930581
          Covington County              37818     ...               6.696899
          Crenshaw County               13951     ...               1.729792
          Cullman County                80374     ...              -1.404233
          Dale County                   50324     ...             -10.749798
          Dallas County                 42777     ...             -15.635599
          DeKalb County                 70942     ...               0.294677
          Elmore County                 80432     ...               3.235576
          Escambia County               38034     ...              -3.449988
          Etowah County                104235     ...              -1.015919
          Fayette County                16960     ...              -5.015601
...                                       ...     ...                    ...
Wisconsin Washington County            132649     ...              -0.794876
          Waukesha County              392710     ...              -0.765799
          Waupaca County                52035     ...               3.111756
          Waushara County               24484     ...               4.930022
          Winnebago County             168717     ...               0.316712
          Wood County                   74384     ...              -4.081523
Wyoming   Wyoming                      577080     ...              -0.381530
          Albany County                 37396     ...               3.708956
          Big Horn County               11785     ...               4.868258
          Campbell County               47881     ...              -2.843479
          Carbon County                 15678     ...              -7.581980
          Converse County               14025     ...             -12.847499
          Crook County                   7148     ...              -1.544618
          Fremont County                41129     ...               2.747083
          Goshen County                 13666     ...              14.293649
          Hot Springs County             4846     ...               3.322604
          Johnson County                 8610     ...               4.995063
          Laramie County                94894     ...              -1.200428
          Lincoln County                17943     ...              -9.802564
          Natrona County                78699     ...               7.189319
          Niobrara County                2475     ...              -0.401849
          Park County                   28863     ...               4.582951
          Platte County                  8732     ...               4.373094
          Sheridan County               29594     ...               0.958559
          Sublette County               10418     ...             -23.741784
          Sweetwater County             45104     ...               1.072643
          Teton County                  21697     ...              -1.589565
          Uinta County                  20989     ...             -17.755986
          Washakie County                8443     ...             -11.637475
          Weston County                  7065     ...             -11.752361

                              RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME    CTYNAME
Alabama   Alabama                    -0.193196          0.381066
          Autauga County             -2.915927         -3.012349
          Baldwin County             17.647293         21.845705
          Barbour County             -2.500690         -7.056824
          Bibb County                -5.068871         -6.201001
          Blount County              -1.177622         -1.748766
          Bullock County             -5.180127         -1.130263
          Butler County             -11.684234         -5.655413
          Calhoun County             -4.611706         -5.524649
          Chambers County             3.849092          2.872721
          Cherokee County             1.113180          5.488706
          Chilton County             -2.653369          0.480044
          Choctaw County             -0.737028         -8.766391
          Clarke County             -17.667705         -0.318345
          Clay County               -13.345130          4.902871
          Cleburne County            -5.151880          7.345821
          Coffee County               7.675579        -13.146535
          Colbert County              1.065051          1.762390
          Conecuh County             -7.504690         -6.107224
          Coosa County              -10.291443         -4.313831
          Covington County           -4.612668          0.740271
          Crenshaw County             3.950156         -1.864936
          Cullman County             -1.019628          4.071247
          Dale County                -5.277150        -15.236079
          Dallas County             -11.308243        -16.745678
          DeKalb County              -9.302391         -1.748807
          Elmore County               0.822717          1.760531
          Escambia County            -3.855889         -4.822706
          Etowah County               2.062637         -1.931884
          Fayette County             -0.646640         -3.725937
...                                        ...               ...
Wisconsin Washington County           0.785279         -2.215465
          Waukesha County             2.128860          0.038132
          Waupaca County             -2.241873          6.292687
          Waushara County            -2.404973         -4.097017
          Winnebago County            2.889873          0.833819
          Wood County                -5.019090         -6.901200
Wyoming   Wyoming                     9.636214          4.487115
          Albany County               2.637812         -3.544634
          Big Horn County             2.804930         16.815908
          Campbell County            15.601020         -5.895711
          Carbon County             -13.081441          3.178134
          Converse County            15.493820         19.035533
          Crook County               -4.202564          1.397819

In [120]:
df1=census_df.set_index(['STNAME'])
u=df1.index.unique()

In [121]:
len(u)

51

In [129]:
s=[]
for i in u :
    s.append(len(df1.loc[i]))
print(s)

[68, 30, 16, 76, 59, 65, 9, 4, 2, 68, 160, 6, 45, 103, 93, 100, 106, 121, 65, 17, 25, 15, 84, 88, 83, 116, 57, 94, 18, 11, 22, 34, 63, 101, 54, 89, 78, 37, 68, 6, 47, 67, 96, 255, 30, 15, 134, 40, 56, 73, 24]

In [133]:
S2=pd.Series(s, index=u)
S2.sort_values()

STNAME
District of Columbia      2
Delaware                  4
Rhode Island              6
Hawaii                    6
Connecticut               9
New Hampshire            11
Massachusetts            15
Vermont                  15
Arizona                  16
Maine                    17
Nevada                   18
New Jersey               22
Wyoming                  24
Maryland                 25
Utah                     30
Alaska                   30
New Mexico               34
Oregon                   37
Washington               40
Idaho                    45
South Carolina           47
North Dakota             54
West Virginia            56
Montana                  57
California               59
New York                 63
Louisiana                65
Colorado                 65
South Dakota             67
Pennsylvania             68
Alabama                  68
Florida                  68
Wisconsin                73
Arkansas                 76
Oklahoma                 78
Mississippi              83
Michigan                 84
Minnesota                88
Ohio                     89
Indiana                  93
Nebraska                 94
Tennessee                96
Iowa                    100
North Carolina          101
Illinois                103
Kansas                  106
Missouri                116
Kentucky                121
Virginia                134
Georgia                 160
Texas                   255
dtype: int64

In [145]:
print(S2.iloc[-1])

24

In [153]:
def answer_five(df1=df1):
    df1=census_df.set_index(['STNAME','CTYNAME'])
    s=[]
    for i in u :
        s.append(len(df1.loc[i]))
#     print(s)
    S2=pd.Series(s, index=u)
    S2=S2.sort_values()
    
    return S2.iloc[-1]

answer_five()

255

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:
def answer_six():
    return "YOUR ANSWER HERE"

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [10]:
def answer_seven():
    return "YOUR ANSWER HERE"

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [11]:
def answer_eight():
    return "YOUR ANSWER HERE"