---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importing data and getting rid of first two columns


df1=pd.read_excel('Energy Indicators.xls',header=[1,2],skiprows=15,usecols=[2,3,4,5],skip_footer=38)
df1.tail()

C:\ProgramData\Anaconda6\lib\site-packages\pandas\util\_decorators.py:177: FutureWarning: the 'skip_footer' keyword is deprecated, use 'skipfooter' instead
  return func(*args, **kwargs)

,Energy Supply,Energy Supply per capita,Renewable Electricity Production
,Petajoules,Gigajoules,%
Viet Nam,2554,28,45.32152
Wallis and Futuna Islands,0,26,0.00000
Yemen,344,13,0.00000
Zambia,400,26,99.71467
Zimbabwe,480,32,52.53612

In [3]:
df1.columns

MultiIndex(levels=[['Energy Supply', 'Energy Supply per capita', 'Renewable Electricity Production'], ['%', 'Gigajoules', 'Petajoules']],
           labels=[[0, 1, 2], [2, 1, 0]])

In [4]:
# Renaming columns
df1.rename(columns={'Renewable Electricity Production':'% Renewable'}, inplace=True) # changing name
# df1['Petajoules']
df1.head(5)

               Energy Supply Energy Supply per capita % Renewable
                  Petajoules               Gigajoules           %
Afghanistan              321                       10   78.669280
Albania                  102                       35  100.000000
Algeria                 1959                       51    0.551010
American Samoa           ...                      ...    0.641026
Andorra                    9                      121   88.695650

#### Rename the following list of countries (for use in later questions):

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

In [5]:
#RW
df1.tail(20)

,Energy Supply,Energy Supply per capita,% Renewable
,Petajoules,Gigajoules,%
Turkey,4897,64,28.536690
Turkmenistan,1102,210,0.000000
Turks and Caicos Islands,3,85,0.000000
Tuvalu,...,...,0.000000
Uganda,452,12,68.018180
Ukraine18,4844,107,8.067312
United Arab Emirates,2710,300,0.000000
United Kingdom of Great Britain and Northern Ireland19,7920,124,10.600470
United Republic of Tanzania,994,20,31.072840
United States of America20,90838,286,11.570980
United States Virgin Islands,...,...,0.000000
Uruguay,196,58,71.605040
Uzbekistan,1798,62,21.328410
Vanuatu,3,10,14.705880
Venezuela (Bolivarian Republic of),2871,95,67.834520
Viet Nam,2554,28,45.321520
Wallis and Futuna Islands,0,26,0.000000
Yemen,344,13,0.000000
Zambia,400,26,99.714670
Zimbabwe,480,32,52.536120

In [14]:
# copying the index

df1['Country']=df1.index


### Cleaning of column of country Name

In [15]:
# Cleaning numbers from country name using  regex (sucessfull)

# Step1 seperate numbers from contry names in to a seperate column
import re
pattern = r'([a-zA-Z\s]+)([0-9]+)'   # our country name is combination of capital and small alphabets,seprated by space and ending with number
result= df1['Country'].str.split(pattern, expand=True) # now applying our defined Pattern so we break into different parts of country name

#  now  Joining column 0 and column 1 to get Neew column name 'color' a column of ful name of Country
result['Colors'] = result[[0,1,]].apply(lambda x: ''.join(x[x.notnull()]), axis = 1)

df1['Country1']=result['Colors']  # putting the  content of color (ful name) in new column  country1
df1['Country']=0
df1

,Energy Supply,Energy Supply per capita,% Renewable,Country,Country1
,Petajoules,Gigajoules,%,,
Afghanistan,321,10,78.669280,0,Afghanistan
Albania,102,35,100.000000,0,Albania
Algeria,1959,51,0.551010,0,Algeria
American Samoa,...,...,0.641026,0,American Samoa
Andorra,9,121,88.695650,0,Andorra
Angola,642,27,70.909090,0,Angola
Anguilla,2,136,0.000000,0,Anguilla
Antigua and Barbuda,8,84,0.000000,0,Antigua and Barbuda
Argentina,3378,79,24.064520,0,Argentina
Armenia,143,48,28.236060,0,Armenia
Aruba,12,120,14.870690,0,Aruba
Australia1,5386,231,11.810810,0,Australia
Austria,1391,164,72.452820,0,Austria
Azerbaijan,567,60,6.384345,0,Azerbaijan
Bahamas,45,118,0.000000,0,Bahamas
Bahrain,574,425,0.000000,0,Bahrain
Bangladesh,1625,10,1.966329,0,Bangladesh
Barbados,19,69,0.000000,0,Barbados
Belarus,1142,120,0.463389,0,Belarus
Belgium,2338,210,9.959739,0,Belgium
Belize,13,39,64.690030,0,Belize
Benin,170,16,0.000000,0,Benin
Bermuda,6,88,0.000000,0,Bermuda
Bhutan,63,83,100.000000,0,Bhutan
Bolivia (Plurinational State of),336,32,31.477120,0,Bolivia (Plurinational State of)
"Bonaire, Sint Eustatius and Saba",5,213,0.000000,0,"Bonaire, Sint Eustatius and Saba"
Bosnia and Herzegovina,266,70,41.464670,0,Bosnia and Herzegovina
Botswana,86,39,0.131406,0,Botswana
Brazil,12149,59,69.648030,0,Brazil
British Virgin Islands,2,85,0.000000,0,British Virgin Islands
...,...,...,...,...,...
Switzerland17,1113,136,57.745480,0,Switzerland
Syrian Arab Republic,542,28,11.568270,0,Syrian Arab Republic
Tajikistan,106,13,99.742920,0,Tajikistan
Thailand,5336,79,4.305189,0,Thailand
The former Yugoslav Republic of Macedonia,117,56,26.140470,0,The former Yugoslav Republic of Macedonia
Timor-Leste,7,6,0.000000,0,Timor-Leste
Togo,134,19,80.180180,0,Togo
Tonga,3,28,0.000000,0,Tonga
Trinidad and Tobago,824,611,0.000000,0,Trinidad and Tobago
Tunisia,430,39,3.492547,0,Tunisia
Turkey,4897,64,28.536690,0,Turkey
Turkmenistan,1102,210,0.000000,0,Turkmenistan
Turks and Caicos Islands,3,85,0.000000,0,Turks and Caicos Islands
Tuvalu,...,...,0.000000,0,Tuvalu
Uganda,452,12,68.018180,0,Uganda
Ukraine18,4844,107,8.067312,0,Ukraine
United Arab Emirates,2710,300,0.000000,0,United Arab Emirates
United Kingdom of Great Britain and Northern Ireland19,7920,124,10.600470,0,United Kingdom of Great Britain and Northern I...
United Republic of Tanzania,994,20,31.072840,0,United Republic of Tanzania
United States of America20,90838,286,11.570980,0,United States of America
United States Virgin Islands,...,...,0.000000,0,United States Virgin Islands
Uruguay,196,58,71.605040,0,Uruguay
Uzbekistan,1798,62,21.328410,0,Uzbekistan
Vanuatu,3,10,14.705880,0,Vanuatu
Venezuela (Bolivarian Republic of),2871,95,67.834520,0,Venezuela (Bolivarian Republic of)
Viet Nam,2554,28,45.321520,0,Viet Nam
Wallis and Futuna Islands,0,26,0.000000,0,Wallis and Futuna Islands
Yemen,344,13,0.000000,0,Yemen
Zambia,400,26,99.714670,0,Zambia
Zimbabwe,480,32,52.536120,0,Zimbabwe

In [18]:
# replacing name of  selected countries

df1=df1.replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"})
df1

,Energy Supply,Energy Supply per capita,% Renewable,Country,Country1
,Petajoules,Gigajoules,%,,
Afghanistan,321,10,78.669280,0,Afghanistan
Albania,102,35,100.000000,0,Albania
Algeria,1959,51,0.551010,0,Algeria
American Samoa,...,...,0.641026,0,American Samoa
Andorra,9,121,88.695650,0,Andorra
Angola,642,27,70.909090,0,Angola
Anguilla,2,136,0.000000,0,Anguilla
Antigua and Barbuda,8,84,0.000000,0,Antigua and Barbuda
Argentina,3378,79,24.064520,0,Argentina
Armenia,143,48,28.236060,0,Armenia
Aruba,12,120,14.870690,0,Aruba
Australia1,5386,231,11.810810,0,Australia
Austria,1391,164,72.452820,0,Austria
Azerbaijan,567,60,6.384345,0,Azerbaijan
Bahamas,45,118,0.000000,0,Bahamas
Bahrain,574,425,0.000000,0,Bahrain
Bangladesh,1625,10,1.966329,0,Bangladesh
Barbados,19,69,0.000000,0,Barbados
Belarus,1142,120,0.463389,0,Belarus
Belgium,2338,210,9.959739,0,Belgium
Belize,13,39,64.690030,0,Belize
Benin,170,16,0.000000,0,Benin
Bermuda,6,88,0.000000,0,Bermuda
Bhutan,63,83,100.000000,0,Bhutan
Bolivia (Plurinational State of),336,32,31.477120,0,Bolivia
"Bonaire, Sint Eustatius and Saba",5,213,0.000000,0,"Bonaire, Sint Eustatius and Saba"
Bosnia and Herzegovina,266,70,41.464670,0,Bosnia and Herzegovina
Botswana,86,39,0.131406,0,Botswana
Brazil,12149,59,69.648030,0,Brazil
British Virgin Islands,2,85,0.000000,0,British Virgin Islands
...,...,...,...,...,...
Switzerland17,1113,136,57.745480,0,Switzerland
Syrian Arab Republic,542,28,11.568270,0,Syrian Arab Republic
Tajikistan,106,13,99.742920,0,Tajikistan
Thailand,5336,79,4.305189,0,Thailand
The former Yugoslav Republic of Macedonia,117,56,26.140470,0,The former Yugoslav Republic of Macedonia
Timor-Leste,7,6,0.000000,0,Timor-Leste
Togo,134,19,80.180180,0,Togo
Tonga,3,28,0.000000,0,Tonga
Trinidad and Tobago,824,611,0.000000,0,Trinidad and Tobago
Tunisia,430,39,3.492547,0,Tunisia
Turkey,4897,64,28.536690,0,Turkey
Turkmenistan,1102,210,0.000000,0,Turkmenistan
Turks and Caicos Islands,3,85,0.000000,0,Turks and Caicos Islands
Tuvalu,...,...,0.000000,0,Tuvalu
Uganda,452,12,68.018180,0,Uganda
Ukraine18,4844,107,8.067312,0,Ukraine
United Arab Emirates,2710,300,0.000000,0,United Arab Emirates
United Kingdom of Great Britain and Northern Ireland19,7920,124,10.600470,0,United Kingdom of Great Britain and Northern I...
United Republic of Tanzania,994,20,31.072840,0,United Republic of Tanzania
United States of America20,90838,286,11.570980,0,United States
United States Virgin Islands,...,...,0.000000,0,United States Virgin Islands
Uruguay,196,58,71.605040,0,Uruguay
Uzbekistan,1798,62,21.328410,0,Uzbekistan
Vanuatu,3,10,14.705880,0,Vanuatu
Venezuela (Bolivarian Republic of),2871,95,67.834520,0,Venezuela
Viet Nam,2554,28,45.321520,0,Viet Nam
Wallis and Futuna Islands,0,26,0.000000,0,Wallis and Futuna Islands
Yemen,344,13,0.000000,0,Yemen
Zambia,400,26,99.714670,0,Zambia
Zimbabwe,480,32,52.536120,0,Zimbabwe

### Replacing the Bracket contents of Country1

In [19]:
# REplace all the bracket and contents within bracket with ' '

df1['Country1'] = df1['Country1'].apply(lambda x: re.sub(r'\(.*\)', '', x))
df1

,Energy Supply,Energy Supply per capita,% Renewable,Country,Country1
,Petajoules,Gigajoules,%,,
Afghanistan,321,10,78.669280,0,Afghanistan
Albania,102,35,100.000000,0,Albania
Algeria,1959,51,0.551010,0,Algeria
American Samoa,...,...,0.641026,0,American Samoa
Andorra,9,121,88.695650,0,Andorra
Angola,642,27,70.909090,0,Angola
Anguilla,2,136,0.000000,0,Anguilla
Antigua and Barbuda,8,84,0.000000,0,Antigua and Barbuda
Argentina,3378,79,24.064520,0,Argentina
Armenia,143,48,28.236060,0,Armenia
Aruba,12,120,14.870690,0,Aruba
Australia1,5386,231,11.810810,0,Australia
Austria,1391,164,72.452820,0,Austria
Azerbaijan,567,60,6.384345,0,Azerbaijan
Bahamas,45,118,0.000000,0,Bahamas
Bahrain,574,425,0.000000,0,Bahrain
Bangladesh,1625,10,1.966329,0,Bangladesh
Barbados,19,69,0.000000,0,Barbados
Belarus,1142,120,0.463389,0,Belarus
Belgium,2338,210,9.959739,0,Belgium
Belize,13,39,64.690030,0,Belize
Benin,170,16,0.000000,0,Benin
Bermuda,6,88,0.000000,0,Bermuda
Bhutan,63,83,100.000000,0,Bhutan
Bolivia (Plurinational State of),336,32,31.477120,0,Bolivia
"Bonaire, Sint Eustatius and Saba",5,213,0.000000,0,"Bonaire, Sint Eustatius and Saba"
Bosnia and Herzegovina,266,70,41.464670,0,Bosnia and Herzegovina
Botswana,86,39,0.131406,0,Botswana
Brazil,12149,59,69.648030,0,Brazil
British Virgin Islands,2,85,0.000000,0,British Virgin Islands
...,...,...,...,...,...
Switzerland17,1113,136,57.745480,0,Switzerland
Syrian Arab Republic,542,28,11.568270,0,Syrian Arab Republic
Tajikistan,106,13,99.742920,0,Tajikistan
Thailand,5336,79,4.305189,0,Thailand
The former Yugoslav Republic of Macedonia,117,56,26.140470,0,The former Yugoslav Republic of Macedonia
Timor-Leste,7,6,0.000000,0,Timor-Leste
Togo,134,19,80.180180,0,Togo
Tonga,3,28,0.000000,0,Tonga
Trinidad and Tobago,824,611,0.000000,0,Trinidad and Tobago
Tunisia,430,39,3.492547,0,Tunisia
Turkey,4897,64,28.536690,0,Turkey
Turkmenistan,1102,210,0.000000,0,Turkmenistan
Turks and Caicos Islands,3,85,0.000000,0,Turks and Caicos Islands
Tuvalu,...,...,0.000000,0,Tuvalu
Uganda,452,12,68.018180,0,Uganda
Ukraine18,4844,107,8.067312,0,Ukraine
United Arab Emirates,2710,300,0.000000,0,United Arab Emirates
United Kingdom of Great Britain and Northern Ireland19,7920,124,10.600470,0,United Kingdom of Great Britain and Northern I...
United Republic of Tanzania,994,20,31.072840,0,United Republic of Tanzania
United States of America20,90838,286,11.570980,0,United States
United States Virgin Islands,...,...,0.000000,0,United States Virgin Islands
Uruguay,196,58,71.605040,0,Uruguay
Uzbekistan,1798,62,21.328410,0,Uzbekistan
Vanuatu,3,10,14.705880,0,Vanuatu
Venezuela (Bolivarian Republic of),2871,95,67.834520,0,Venezuela
Viet Nam,2554,28,45.321520,0,Viet Nam
Wallis and Futuna Islands,0,26,0.000000,0,Wallis and Futuna Islands
Yemen,344,13,0.000000,0,Yemen
Zambia,400,26,99.714670,0,Zambia
Zimbabwe,480,32,52.536120,0,Zimbabwe

 ### Taking the First Name of Countries with Long name

In [28]:
# split the Contry name where there is a coma and take the first word
# eg 'Bonaire, Sint Eustatius and Saba' -> Bonaire

df1['Country1'] = df1['Country1'].apply(lambda x: x.split(',')[0])  # seprating the first using split function 
df1.iloc[25:35,:]

,Energy Supply,Energy Supply per capita,% Renewable,Country,Country1
,Petajoules,Gigajoules,%,,
"Bonaire, Sint Eustatius and Saba",5,213,0.000000,0,Bonaire
Bosnia and Herzegovina,266,70,41.464670,0,Bosnia and Herzegovina
Botswana,86,39,0.131406,0,Botswana
Brazil,12149,59,69.648030,0,Brazil
British Virgin Islands,2,85,0.000000,0,British Virgin Islands
Brunei Darussalam,127,310,0.045434,0,Brunei Darussalam
Bulgaria,703,97,17.234610,0,Bulgaria
Burkina Faso,164,10,14.500680,0,Burkina Faso
Burundi,58,6,86.792450,0,Burundi
Cabo Verde,7,15,21.227620,0,Cabo Verde

In [30]:
# strip returns the string after stripping whitespace.
# 'Bolivia ' -->'Bolivia'

df1['Country2'] = df1['Country1'].map(lambda x: x.strip())
df1.head()

,Energy Supply,Energy Supply per capita,% Renewable,Country,Country1,Country2
,Petajoules,Gigajoules,%,,,
Afghanistan,321,10,78.669280,0,Afghanistan,Afghanistan
Albania,102,35,100.000000,0,Albania,Albania
Algeria,1959,51,0.551010,0,Algeria,Algeria
American Samoa,...,...,0.641026,0,American Samoa,American Samoa
Andorra,9,121,88.695650,0,Andorra,Andorra

In [31]:
#  setting Column country1 as our index and deleting the redundant system

df1=df1.set_index('Country2')
del df1['Country']
del df1['Country1']
df1.head()

               Energy Supply Energy Supply per capita % Renewable
                  Petajoules               Gigajoules           %
Country2
Afghanistan              321                       10   78.669280
Albania                  102                       35  100.000000
Algeria                 1959                       51    0.551010
American Samoa           ...                      ...    0.641026
Andorra                    9                      121   88.695650

##  All the above steps joined together to form one function

In [33]:
import re
def answer_one():
    # Importing the data
    df1=pd.read_excel('Energy Indicators.xls',header=[1,2],skiprows=15,usecols=[2,3,4,5],skip_footer=38)

    # you should change the column labels so that the columns are:['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    df1.rename(columns={'Renewable Electricity Production':'% Renewable'}, inplace=True)
    
    # copying the name(index) to a new column called country
    df1['Country']=df1.index

    # Data Cleaning
    
    # Cleaning numbers from country name  (sucessfull)
    pattern = r'([a-zA-Z\s]+)([0-9]+)'   # our country name is combination of  capital and small alphabets,seprated by space and ending withnumber
    result= df1['Country'].str.split(pattern, expand=True)
    # now  Joining column 0 and column 1 to get color a column of ful name
    result['Colors'] = result[[0,1,]].apply(lambda x: ''.join(x[x.notnull()]), axis = 1)
    df1['Country1']=result['Colors']  # putting the  content of color (ful name) in new column  country1
    df1['Country']=0
    
    # Replace all the bracket and contents within bracket with ' '
    df1['Country1'] = df1['Country1'].apply(lambda x: re.sub(r'\(.*\)', '', x))
    
    # strip returns the string after stripping whitespace.
    # 'Bolivia ' -->'Bolivia'
    df1['Country2'] = df1['Country1'].map(lambda x: x.strip())
    
    
    
    # Now replacing contents
    # replacing name of  selected countries
    df1=df1.replace({"Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"})
    df1
    
    
    #  setting Column country2 as our index
    df1=df1.set_index('Country2')
    del df1['Country1']
    del df1['Country']
    
    energy=df1
    
    return energy

answer_one()

C:\ProgramData\Anaconda6\lib\site-packages\pandas\util\_decorators.py:177: FutureWarning: the 'skip_footer' keyword is deprecated, use 'skipfooter' instead
  return func(*args, **kwargs)

,Energy Supply,Energy Supply per capita,% Renewable
,Petajoules,Gigajoules,%
Country2,,,
Afghanistan,321,10,78.669280
Albania,102,35,100.000000
Algeria,1959,51,0.551010
American Samoa,...,...,0.641026
Andorra,9,121,88.695650
Angola,642,27,70.909090
Anguilla,2,136,0.000000
Antigua and Barbuda,8,84,0.000000
Argentina,3378,79,24.064520
Armenia,143,48,28.236060
Aruba,12,120,14.870690
Australia,5386,231,11.810810
Austria,1391,164,72.452820
Azerbaijan,567,60,6.384345
Bahamas,45,118,0.000000
Bahrain,574,425,0.000000
Bangladesh,1625,10,1.966329
Barbados,19,69,0.000000
Belarus,1142,120,0.463389
Belgium,2338,210,9.959739
Belize,13,39,64.690030
Benin,170,16,0.000000
Bermuda,6,88,0.000000
Bhutan,63,83,100.000000
Bolivia,336,32,31.477120
"Bonaire, Sint Eustatius and Saba",5,213,0.000000
Bosnia and Herzegovina,266,70,41.464670
Botswana,86,39,0.131406
Brazil,12149,59,69.648030
British Virgin Islands,2,85,0.000000
...,...,...,...
Switzerland,1113,136,57.745480
Syrian Arab Republic,542,28,11.568270
Tajikistan,106,13,99.742920
Thailand,5336,79,4.305189
The former Yugoslav Republic of Macedonia,117,56,26.140470
Timor-Leste,7,6,0.000000
Togo,134,19,80.180180
Tonga,3,28,0.000000
Trinidad and Tobago,824,611,0.000000
Tunisia,430,39,3.492547
Turkey,4897,64,28.536690
Turkmenistan,1102,210,0.000000
Turks and Caicos Islands,3,85,0.000000
Tuvalu,...,...,0.000000
Uganda,452,12,68.018180
Ukraine,4844,107,8.067312
United Arab Emirates,2710,300,0.000000
United Kingdom of Great Britain and Northern Ireland,7920,124,10.600470
United Republic of Tanzania,994,20,31.072840
United States,90838,286,11.570980
United States Virgin Islands,...,...,0.000000
Uruguay,196,58,71.605040
Uzbekistan,1798,62,21.328410
Vanuatu,3,10,14.705880
Venezuela,2871,95,67.834520
Viet Nam,2554,28,45.321520
Wallis and Futuna Islands,0,26,0.000000
Yemen,344,13,0.000000
Zambia,400,26,99.714670
Zimbabwe,480,32,52.536120

Next, load the GDP data from the file world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"



Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

This function should return a DataFrame with 20 columns and 15 entries.

###  Part C:
load the GDP data from the file world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

In [50]:
GDP=pd.read_csv('world_bank.csv',skiprows=4)
GDP.iloc[123:128]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
123,"Korea, Rep.",KOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.757696e+10,2.893825e+10,2.964966e+10,3.247578e+10,3.493136e+10,3.674434e+10,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
124,Kosovo,KSV,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.958692e+09,5.319987e+09,5.460691e+09,5.643169e+09,5.829934e+09,6.099252e+09,6.270547e+09,6.486283e+09,6.565321e+09,6.803277e+09
125,Kuwait,KWT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.171234e+11,1.241410e+11,1.272195e+11,1.182173e+11,1.154191e+11,1.265321e+11,1.349166e+11,1.364669e+11,1.342533e+11,1.337163e+11
126,Latin America & Caribbean (excluding high income),LAC,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,6.158769e+11,6.581433e+11,6.969364e+11,7.222708e+11,7.752301e+11,8.096191e+11,...,3.924920e+12,4.149097e+12,4.320544e+12,4.261619e+12,4.500356e+12,4.694263e+12,4.843759e+12,4.980645e+12,5.028926e+12,4.972082e+12
127,Lao PDR,LAO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.305667e+09,5.708730e+09,6.155432e+09,6.617199e+09,7.181441e+09,7.758732e+09,8.381309e+09,9.091298e+09,9.774534e+09,1.045828e+10

In [56]:
# rename the following list of countries:

# "Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"
# replacing name of  selected countries

GDP=GDP.replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"})
GDP[123:128]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
123,South Korea,KOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.757696e+10,2.893825e+10,2.964966e+10,3.247578e+10,3.493136e+10,3.674434e+10,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
124,Kosovo,KSV,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.958692e+09,5.319987e+09,5.460691e+09,5.643169e+09,5.829934e+09,6.099252e+09,6.270547e+09,6.486283e+09,6.565321e+09,6.803277e+09
125,Kuwait,KWT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.171234e+11,1.241410e+11,1.272195e+11,1.182173e+11,1.154191e+11,1.265321e+11,1.349166e+11,1.364669e+11,1.342533e+11,1.337163e+11
126,Latin America & Caribbean (excluding high income),LAC,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,6.158769e+11,6.581433e+11,6.969364e+11,7.222708e+11,7.752301e+11,8.096191e+11,...,3.924920e+12,4.149097e+12,4.320544e+12,4.261619e+12,4.500356e+12,4.694263e+12,4.843759e+12,4.980645e+12,5.028926e+12,4.972082e+12
127,Lao PDR,LAO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.305667e+09,5.708730e+09,6.155432e+09,6.617199e+09,7.181441e+09,7.758732e+09,8.381309e+09,9.091298e+09,9.774534e+09,1.045828e+10

In [43]:
def get_Energy():
    GDP=pd.read_csv('world_bank.csv',skiprows=4)
    return GDP
get_Energy()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
5,Arab World,ARB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
6,United Arab Emirates,ARE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.789489e+11,2.878318e+11,2.970189e+11,2.814464e+11,2.860493e+11,3.009462e+11,3.216922e+11,3.355937e+11,3.509313e+11,3.621003e+11
7,Argentina,ARG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.206739e+11,1.272239e+11,1.261399e+11,1.194442e+11,1.315442e+11,1.454477e+11,...,3.788140e+11,4.089887e+11,4.215649e+11,4.217758e+11,4.616402e+11,5.003555e+11,5.043671e+11,5.189199e+11,5.212737e+11,NaN
8,Armenia,ARM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.679746e+09,9.873142e+09,1.055439e+10,9.060944e+09,9.260285e+09,9.695518e+09,1.039360e+10,1.073658e+10,1.111236e+10,1.144574e+10
9,American Samoa,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.268714e+09,1.389229e+09,1.390217e+09,1.222890e+09,1.135539e+09,1.115174e+09,1.159999e+09,1.155982e+09,1.211723e+09,1.256122e+09
11,Australia,AUS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.983395e+11,2.032502e+11,2.059485e+11,2.187430e+11,2.340028e+11,2.479962e+11,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
12,Austria,AUT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.223779e+10,9.734590e+10,9.992428e+10,1.040594e+11,1.104324e+11,1.142756e+11,...,3.782096e+11,3.919065e+11,3.979703e+11,3.828512e+11,3.902351e+11,4.011929e+11,4.042312e+11,4.055298e+11,4.069632e+11,4.104717e+11
13,Azerbaijan,AZE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.329047e+10,4.162940e+10,4.611390e+10,5.045352e+10,5.290270e+10,5.293758e+10,5.410221e+10,5.723834e+10,5.838310e+10,5.902532e+10
14,Burundi,BDI,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.966083e+08,5.145977e+08,5.612365e+08,5.844459e+08,6.211084e+08,6.457492e+08,...,1.714698e+09,1.796761e+09,1.887463e+09,1.952928e+09,2.026864e+09,2.111823e+09,2.196705e+09,2.297623e+09,2.404713e+09,2.343733e+09
15,Belgium,BEL,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.205638e+11,1.265660e+11,1.331626e+11,1.389573e+11,1.486241e+11,1.539161e+11,...,4.626081e+11,4.783251e+11,4.818987e+11,4.708879e+11,4.835775e+11,4.922666e+11,4.930476e+11,4.930627e+11,4.994502e+11,5.063123e+11
16,Benin,BEN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.265426e+09,1.305177e+09,1.260456e+09,1.320076e+09,1.407871e+09,1.482402e+09,...,6.000596e+09,6.359822e+09,6.671034e+09,6.825750e+09,6.970241e+09,7.176752e+09,7.509970e+09,8.026581e+09,8.551638e+09,8.999782e+09
17,Burkina Faso,BFA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.120812e+09,1.166137e+09,1.237607e+09,1.221914e+09,1.249808e+09,1.296857e+09,...,7.094394e+09,7.495583e+09,8.042348e+09,8.280563e+09,8.979967e+09,9.565619e+09,1.018286e+10,1.055446e+10,1.098168e+10,1.141871e+10
18,Bangladesh,BGD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.786255e+10,1.894469e+10,1.997775e+10,1.988667e+10,2.206481e+10,2.241923e+10,...,9.158885e+10,9.805377e+10,1.039505e+11,1.091950e+11,1.152791e+11,1.227312e+11,1.307350e+11,1.385969e+11,1.469974e+11,1.566295e+11
19,Bulgaria,BGR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.580943e+10,4.932546e+10,5.211087e+10,4.991194e+10,4.993917e+10,5.073019e+10,5.085046e+10,5.150230e+10,5.230059e+10,5.385242e+10
20,Bahrain,BHR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.088961e+10,2.262186e+10,2.403463e+10,2.464505e+10,2.571327e+10,2.625330e+10,2.719545e+10,2.866752e+10,2.995210e+10,3.082866e+10
21,"Bahamas, The",BHS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.521892e+09,1.684234e+09,1.860270e+09,2.056046e+09,2.271963e+09,2.508828e+09,...,8.203865e+09,8.322536e+09,8.129126e+09,7.789714e+09,7.909580e+09,7.958058e+09,8.134513e+09,8.136305e+09,8.219522e+09,8.319840e+09
22,Bosnia and Herzegovina,BIH,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.572365e+10,1.662442e+10,1.753569e+10,1.703244e+10,1.716312e+10,1.731900e+10,1.715738e+10,1.756816e+10,1.775823e+10,1.831896e+10
23,Belarus,BLR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.274098e+10,4.641670e+10,5.115121e+10,5.125351e+10,5.522093e+10,5.828222e+10,5.929132e+10,5.992787e+10,6.096048e+10,5.859052e+10
24,Belize,BLZ,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.865406e+07,1.034805e+08,1.085434e+08,1.139233e+08,1.196193e+08,1.255172e+08,...,1.285312e+09,1.299522e+09,1.341485e+09,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09
25,Bermuda,BMU,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.236025e+09,1.293871e+09,1.351707e+09,1.366170e+09,1.517951e+09,1.590206e+09,...,5.932559e+09,6.101393e+09,6.194616e+09,5.867282e+09,5.744414e+09,5.552580e+09,5.284138e+09,5.151445e+09,NaN,NaN
26,Bolivia,BOL,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.818838e+09,4.919069e+09,5.193073e+09,5.526504e+09,5.791476e+09,6.117247e+09,...,1.644957e+10,1.720040e+10,1.825796e+10,1.887088e+10,1.964963e+10,2.067222e+10,2.173110e+10,2.320795e+10,2.447524e+10,2.544488e+10
27,Brazil,BRA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.466572e+11,2.720034e+11,2.861913e+11,2.886945e+11,2.987572e+11,3.078797e+11,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
28,Barbados,BRB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.522426e+09,4.599352e+09,4.619595e+09,4.433354e+09,4.445500e+09,4.477890e+09,4.490036e+09,4.490036e+09,4.498133e+09,4.542669e+09
29,Brunei Darussalam,BRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249730e+10,1.251661e+10,1.227383e+10,1.205725e+10,1.237062e+10,1.279491e+10,1.291625e+10,1.268996e+10,1.239301e+10,1.233105e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Middle East & North Africa (IDA & IBRD countries),TMN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,1.995513e+11,...,1.128451e+12,1.200513e+12,1.246733e+12,1.284551e+12,1.354033e+12,1.344512e+12,1.381807e+12,1.394728e+12,1.416758e+12,NaN
235,Timor-Leste,TLS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.940000e+08,6.620000e+08,7.560000e+08,8.540000e+08,9.340000e+08,1.023000e+09,1.088000e+09,1.118000e+09,1.179490e+09,1.229630e+09
236,Tonga,TON,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.591646e+08,3.427468e+08,3.511655e+08,3.550268e+08,3.698161e+08,3.772832e+08,3.793467e+08,3.691972e+08,3.771126e+08,NaN
237,South Asia (IDA & IBRD),TSA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.840484e+11,1.916061e+11,1.979559e+11,2.086032e+11,2.246484e+11,2.223897e+11,...,1.588121e+12,1.716564e+12,1.783227e+12,1.919371e+12,2.093719e+12,2.226077e+12,2.351842e+12,2.499225e+12,2.670483e+12,2.862660e+12
238,Sub-Saharan Africa (IDA & IBRD countries),TSS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.448081e+11,2.484306e+11,2.629561e+11,2.795305e+11,2.945791e+11,3.123708e+11,...,1.107337e+12,1.185713e+12,1.248779e+12,1.284295e+12,1.355385e+12,1.413707e+12,1.465242e+12,1.534734e+12,1.605815e+12,1.653644e+12
239,Trinidad and Tobago,TTO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.198187e+09,4.787490e+09,4.918785e+09,5.194463e+09,5.590826e+09,5.629618e+09,...,2.033516e+10,2.130193e+10,2.202416e+10,2.105717e+10,2.103761e+10,2.103908e+10,2.132649e+10,2.169752e+10,2.187468e+10,2.209480e+10
240,Tunisia,TUN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,5.059839e+09,...,3.712967e+10,3.962093e+10,4.129998e+10,4.255692e+10,4.405093e+10,4.300079e+10,4.459182e+10,4.561743e+10,4.666663e+10,4.703997e+10
241,Turkey,TUR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,8.362456e+10,8.459132e+10,8.930427e+10,9.740087e+10,1.027180e+11,1.056183e+11,...,6.680034e+11,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11
242,Tuvalu,TUV,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.980999e+07,3.170309e+07,3.423404e+07,3.271649e+07,3.182352e+07,3.451366e+07,3.457388e+07,3.502271e+07,3.571892e+07,NaN
243,Tanzania,TZA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.447280e+10,2.654427e+10,2.802189e+10,2.953012e+10,3.140791e+10,3.389055e+10,3.563287e+10,3.822090e+10,4.088304e+10,4.373172e+10
244,Uganda,UGA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.518174e+10,1.645889e+10,1.789225e+10,1.918963e+10,2.018180e+10,2.213403e+10,2.311042e+10,2.386630e+10,2.501553e+10,2.627705e+10
245,Ukraine,UKR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.392103e+11,1.502079e+11,1.536627e+11,1.309206e+11,1.364193e+11,1.435131e+11,1.438001e+11,1.438001e+11,1.343093e+11,1.210127e+11
246,Upper middle income,UMC,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.456839e+12,1.477022e+12,1.541565e+12,1.631063e+12,1.764693e+12,1.884705e+12,...,1.209926e+13,1.319424e+13,1.398552e+13,1.423007e+13,1.530029e+13,1.623576e+13,1.706156e+13,1.786328e+13,1.856972e+13,1.912141e+13
247,Uruguay,URY,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.389822e+10,1.424471e+10,1.402042e+10,1.404432e+10,1.438707e+10,1.453751e+10,...,3.139363e+10,3.344725e+10,3.584747e+10,3.736865e+10,4.028468e+10,4.236423e+10,4.386315e+10,4.589732e+10,4.738384e+10,4.784927e+10
248,United States,USA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.078071e+12,3.148867e+12,3.340948e+12,3.487949e+12,3.690250e+12,3.926426e+12,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
249,Uzbekistan,UZB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.798925e+10,3.076611e+10,3.353506e+10,3.625140e+10,3.933277e+10,4.259739e+10,4.609038e+10,4.977761e+10,5.380959e+10,5.811436e+10
250,St. Vincent and the Grenadines,VCT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.418778e+08,1.483010e+08,1.537796e+08,1.441448e+08,1.494345e+08,1.507569e+08,...,6.857344e+08,6.746459e+08,7.200629e+08,7.049483e+08,6.812260e+08,6.783400e+08,6.877044e+08,6.991892e+08,7.037801e+08,7.139983e+08
251,"Venezuela, RB",VEN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.015817e+11,1.048247e+11,1.137694e+11,1.182074e+11,1.313632e+11,1.368316e+11,...,3.606999e+11,3.922741e+11,4.129777e+11,3.997529e+11,3.938015e+11,4.102483e+11,4.333287e+11,4.391487e+11,4.220465e+11,3.979899e+11
252,British Virgin Islands,VGB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,Virgin Islands (U.S.),VIR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Vietnam,VNM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.130761e+10,9.781739e+10,1.033556e+11,1.089346e+11,1.159317e+11,1.231662e+11,1.296292e+11,1.366576e+11,1.448347e+11,1.545086e+11
255,Vanuatu,VUT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.961693e+08,6.270251e+08,6.674589e+08,6.895706e+08,7.008043e+08,7.093767e+08,7.218245e+08,7.360383e+08,7.529991e+08,NaN
256,West Bank and Gaza,PSE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.016675e+09,7.878227e+09,7.201473e+09,8.709518e+09,8.913100e+09,9.611505e+09,1.100864e+10,1.053747e+10,1.042246e+10,1.171414e+10
257,World,WLD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.118678e+13,1.166806e+13,1.231357e+13,1.295118e+13,1.381212e+13,1.458038e+13,...,6.023536e+13,6.282865e+13,6.398692e+13,6.291271e+13,6.564782e+13,6.770244e+13,6.937886e+13,7.104232e+13,7.291072e+13,7.470901e+13
258,Samoa,WSM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.393881e+08,6.798143e+08,6.866743e+08,6.536571e+08,6.567891e+08,6.947420e+08,6.975356e+08,6.840462e+08,6.922284e+08,7.035448e+08
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [57]:
# Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

ScimEn=pd.read_excel('scimagojr-3.xlsx')
ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86
15,16,Taiwan,6468,6441,86099,14768,13.31,102
16,17,Turkey,5879,5827,91857,23165,15.62,104
17,18,Norway,5675,5634,32693,6024,5.76,74
18,19,Netherlands,5170,5105,48351,6067,9.35,85
19,20,Sweden,4565,4494,57889,9632,12.68,95
20,21,Malaysia,3914,3881,25545,6597,6.53,62
21,22,Switzerland,3636,3599,38962,6186,10.72,81
22,23,Denmark,3531,3494,37254,6191,10.55,85
23,24,Mexico,3249,3214,21524,4145,6.62,57
24,25,Poland,3123,3102,24852,5395,7.96,55
25,26,Saudi Arabia,2979,2930,21208,2469,7.12,61
26,27,Greece,2866,2835,41662,6226,14.54,82
27,28,Egypt,2789,2752,19123,2778,6.86,55
28,29,Belgium,2697,2642,23720,3300,8.79,63
29,30,Singapore,2488,2443,36098,3700,14.51,81
...,...,...,...,...,...,...,...,...
161,162,Greenland,3,3,49,0,16.33,2
162,163,Afghanistan,3,3,0,0,0.00,0
163,164,Cape Verde,3,3,5,0,1.67,1
164,165,French Guiana,3,3,1,1,0.33,1
165,166,Samoa,3,3,13,1,4.33,1
166,167,Cayman Islands,2,2,2,0,1.00,1
167,168,Andorra,2,2,13,0,6.50,1
168,169,Antigua and Barbuda,2,2,0,0,0.00,0
169,170,HaÃ¯ti,2,2,4,1,2.00,1
170,171,Nauru,2,2,0,0,0.00,0
171,172,Seychelles,2,2,7,2,3.50,1
172,173,Mali,2,2,0,0,0.00,0
173,174,Bermuda,2,2,12,0,6.00,1
174,175,Chad,2,2,0,0,0.00,0
175,176,Burundi,2,2,23,0,11.50,1
176,177,Liberia,1,1,1,0,1.00,1
177,178,Togo,1,1,0,0,0.00,0
178,179,British Indian Ocean Territory,1,1,37,0,37.00,1
179,180,American Samoa,1,1,0,0,0.00,0
180,181,Saint Helena,1,1,1,0,1.00,1
181,182,Gibraltar,1,1,0,0,0.00,0
182,183,Maldives,1,1,1,0,1.00,1
183,184,Gambia,1,1,0,0,0.00,0
184,185,Belize,1,1,6,0,6.00,1
185,186,Palau,1,1,0,0,0.00,0
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

In [ ]:
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

This function should return a DataFrame with 20 columns and 15 entries

In [68]:
# Use only the last 10 years (2006-2015) of GDP data

gdp=GDP[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015']]
gdp.index=gdp['Country Name']
del gdp['Country Name']
gdp

,Country Code,Indicator Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,
Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
Arab World,ARB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
United Arab Emirates,ARE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.789489e+11,2.878318e+11,2.970189e+11,2.814464e+11,2.860493e+11,3.009462e+11,3.216922e+11,3.355937e+11,3.509313e+11,3.621003e+11
Argentina,ARG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.788140e+11,4.089887e+11,4.215649e+11,4.217758e+11,4.616402e+11,5.003555e+11,5.043671e+11,5.189199e+11,5.212737e+11,NaN
Armenia,ARM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,8.679746e+09,9.873142e+09,1.055439e+10,9.060944e+09,9.260285e+09,9.695518e+09,1.039360e+10,1.073658e+10,1.111236e+10,1.144574e+10
American Samoa,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Antigua and Barbuda,ATG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.268714e+09,1.389229e+09,1.390217e+09,1.222890e+09,1.135539e+09,1.115174e+09,1.159999e+09,1.155982e+09,1.211723e+09,1.256122e+09
Australia,AUS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Austria,AUT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.782096e+11,3.919065e+11,3.979703e+11,3.828512e+11,3.902351e+11,4.011929e+11,4.042312e+11,4.055298e+11,4.069632e+11,4.104717e+11
Azerbaijan,AZE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.329047e+10,4.162940e+10,4.611390e+10,5.045352e+10,5.290270e+10,5.293758e+10,5.410221e+10,5.723834e+10,5.838310e+10,5.902532e+10
Burundi,BDI,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.714698e+09,1.796761e+09,1.887463e+09,1.952928e+09,2.026864e+09,2.111823e+09,2.196705e+09,2.297623e+09,2.404713e+09,2.343733e+09
Belgium,BEL,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.626081e+11,4.783251e+11,4.818987e+11,4.708879e+11,4.835775e+11,4.922666e+11,4.930476e+11,4.930627e+11,4.994502e+11,5.063123e+11
Benin,BEN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,6.000596e+09,6.359822e+09,6.671034e+09,6.825750e+09,6.970241e+09,7.176752e+09,7.509970e+09,8.026581e+09,8.551638e+09,8.999782e+09
Burkina Faso,BFA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.094394e+09,7.495583e+09,8.042348e+09,8.280563e+09,8.979967e+09,9.565619e+09,1.018286e+10,1.055446e+10,1.098168e+10,1.141871e+10
Bangladesh,BGD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.158885e+10,9.805377e+10,1.039505e+11,1.091950e+11,1.152791e+11,1.227312e+11,1.307350e+11,1.385969e+11,1.469974e+11,1.566295e+11
Bulgaria,BGR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.580943e+10,4.932546e+10,5.211087e+10,4.991194e+10,4.993917e+10,5.073019e+10,5.085046e+10,5.150230e+10,5.230059e+10,5.385242e+10
Bahrain,BHR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.088961e+10,2.262186e+10,2.403463e+10,2.464505e+10,2.571327e+10,2.625330e+10,2.719545e+10,2.866752e+10,2.995210e+10,3.082866e+10
"Bahamas, The",BHS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,8.203865e+09,8.322536e+09,8.129126e+09,7.789714e+09,7.909580e+09,7.958058e+09,8.134513e+09,8.136305e+09,8.219522e+09,8.319840e+09
Bosnia and Herzegovina,BIH,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.572365e+10,1.662442e+10,1.753569e+10,1.703244e+10,1.716312e+10,1.731900e+10,1.715738e+10,1.756816e+10,1.775823e+10,1.831896e+10
Belarus,BLR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.274098e+10,4.641670e+10,5.115121e+10,5.125351e+10,5.522093e+10,5.828222e+10,5.929132e+10,5.992787e+10,6.096048e+10,5.859052e+10
Belize,BLZ,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.285312e+09,1.299522e+09,1.341485e+09,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09
Bermuda,BMU,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.932559e+09,6.101393e+09,6.194616e+09,5.867282e+09,5.744414e+09,5.552580e+09,5.284138e+09,5.151445e+09,NaN,NaN
Bolivia,BOL,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.644957e+10,1.720040e+10,1.825796e+10,1.887088e+10,1.964963e+10,2.067222e+10,2.173110e+10,2.320795e+10,2.447524e+10,2.544488e+10
Brazil,BRA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Barbados,BRB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.522426e+09,4.599352e+09,4.619595e+09,4.433354e+09,4.445500e+09,4.477890e+09,4.490036e+09,4.490036e+09,4.498133e+09,4.542669e+09
Brunei Darussalam,BRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.249730e+10,1.251661e+10,1.227383e+10,1.205725e+10,1.237062e+10,1.279491e+10,1.291625e+10,1.268996e+10,1.239301e+10,1.233105e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Middle East & North Africa (IDA & IBRD countries),TMN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.128451e+12,1.200513e+12,1.246733e+12,1.284551e+12,1.354033e+12,1.344512e+12,1.381807e+12,1.394728e+12,1.416758e+12,NaN
Timor-Leste,TLS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.940000e+08,6.620000e+08,7.560000e+08,8.540000e+08,9.340000e+08,1.023000e+09,1.088000e+09,1.118000e+09,1.179490e+09,1.229630e+09
Tonga,TON,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.591646e+08,3.427468e+08,3.511655e+08,3.550268e+08,3.698161e+08,3.772832e+08,3.793467e+08,3.691972e+08,3.771126e+08,NaN
South Asia (IDA & IBRD),TSA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.588121e+12,1.716564e+12,1.783227e+12,1.919371e+12,2.093719e+12,2.226077e+12,2.351842e+12,2.499225e+12,2.670483e+12,2.862660e+12
Sub-Saharan Africa (IDA & IBRD countries),TSS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.107337e+12,1.185713e+12,1.248779e+12,1.284295e+12,1.355385e+12,1.413707e+12,1.465242e+12,1.534734e+12,1.605815e+12,1.653644e+12
Trinidad and Tobago,TTO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.033516e+10,2.130193e+10,2.202416e+10,2.105717e+10,2.103761e+10,2.103908e+10,2.132649e+10,2.169752e+10,2.187468e+10,2.209480e+10
Tunisia,TUN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.712967e+10,3.962093e+10,4.129998e+10,4.255692e+10,4.405093e+10,4.300079e+10,4.459182e+10,4.561743e+10,4.666663e+10,4.703997e+10
Turkey,TUR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,6.680034e+11,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11
Tuvalu,TUV,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.980999e+07,3.170309e+07,3.423404e+07,3.271649e+07,3.182352e+07,3.451366e+07,3.457388e+07,3.502271e+07,3.571892e+07,NaN
Tanzania,TZA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.447280e+10,2.654427e+10,2.802189e+10,2.953012e+10,3.140791e+10,3.389055e+10,3.563287e+10,3.822090e+10,4.088304e+10,4.373172e+10
Uganda,UGA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.518174e+10,1.645889e+10,1.789225e+10,1.918963e+10,2.018180e+10,2.213403e+10,2.311042e+10,2.386630e+10,2.501553e+10,2.627705e+10
Ukraine,UKR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.392103e+11,1.502079e+11,1.536627e+11,1.309206e+11,1.364193e+11,1.435131e+11,1.438001e+11,1.438001e+11,1.343093e+11,1.210127e+11
Upper middle income,UMC,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.209926e+13,1.319424e+13,1.398552e+13,1.423007e+13,1.530029e+13,1.623576e+13,1.706156e+13,1.786328e+13,1.856972e+13,1.912141e+13
Uruguay,URY,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.139363e+10,3.344725e+10,3.584747e+10,3.736865e+10,4.028468e+10,4.236423e+10,4.386315e+10,4.589732e+10,4.738384e+10,4.784927e+10
United States,USA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Uzbekistan,UZB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.798925e+10,3.076611e+10,3.353506e+10,3.625140e+10,3.933277e+10,4.259739e+10,4.609038e+10,4.977761e+10,5.380959e+10,5.811436e+10
St. Vincent and the Grenadines,VCT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,6.857344e+08,6.746459e+08,7.200629e+08,7.049483e+08,6.812260e+08,6.783400e+08,6.877044e+08,6.991892e+08,7.037801e+08,7.139983e+08
"Venezuela, RB",VEN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.606999e+11,3.922741e+11,4.129777e+11,3.997529e+11,3.938015e+11,4.102483e+11,4.333287e+11,4.391487e+11,4.220465e+11,3.979899e+11
British Virgin Islands,VGB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),VIR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,VNM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.130761e+10,9.781739e+10,1.033556e+11,1.089346e+11,1.159317e+11,1.231662e+11,1.296292e+11,1.366576e+11,1.448347e+11,1.545086e+11
Vanuatu,VUT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.961693e+08,6.270251e+08,6.674589e+08,6.895706e+08,7.008043e+08,7.093767e+08,7.218245e+08,7.360383e+08,7.529991e+08,NaN
West Bank and Gaza,PSE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,8.016675e+09,7.878227e+09,7.201473e+09,8.709518e+09,8.913100e+09,9.611505e+09,1.100864e+10,1.053747e+10,1.042246e+10,1.171414e+10
World,WLD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,6.023536e+13,6.282865e+13,6.398692e+13,6.291271e+13,6.564782e+13,6.770244e+13,6.937886e+13,7.104232e+13,7.291072e+13,7.470901e+13
Samoa,WSM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,6.393881e+08,6.798143e+08,6.866743e+08,6.536571e+08,6.567891e+08,6.947420e+08,6.975356e+08,6.840462e+08,6.922284e+08,7.035448e+08
"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [ ]:
only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

In [ ]:
m1=pd.merge

In [58]:
pd.merge?

In [ ]:
## Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

In [44]:
energy=answer_one()

C:\ProgramData\Anaconda6\lib\site-packages\pandas\util\_decorators.py:177: FutureWarning: the 'skip_footer' keyword is deprecated, use 'skipfooter' instead
  return func(*args, **kwargs)

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [29]:
def get_ScimEn():
    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    return ScimEn
get_ScimEn()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86
15,16,Taiwan,6468,6441,86099,14768,13.31,102
16,17,Turkey,5879,5827,91857,23165,15.62,104
17,18,Norway,5675,5634,32693,6024,5.76,74
18,19,Netherlands,5170,5105,48351,6067,9.35,85
19,20,Sweden,4565,4494,57889,9632,12.68,95
20,21,Malaysia,3914,3881,25545,6597,6.53,62
21,22,Switzerland,3636,3599,38962,6186,10.72,81
22,23,Denmark,3531,3494,37254,6191,10.55,85
23,24,Mexico,3249,3214,21524,4145,6.62,57
24,25,Poland,3123,3102,24852,5395,7.96,55
25,26,Saudi Arabia,2979,2930,21208,2469,7.12,61
26,27,Greece,2866,2835,41662,6226,14.54,82
27,28,Egypt,2789,2752,19123,2778,6.86,55
28,29,Belgium,2697,2642,23720,3300,8.79,63
29,30,Singapore,2488,2443,36098,3700,14.51,81
...,...,...,...,...,...,...,...,...
161,162,Greenland,3,3,49,0,16.33,2
162,163,Afghanistan,3,3,0,0,0.00,0
163,164,Cape Verde,3,3,5,0,1.67,1
164,165,French Guiana,3,3,1,1,0.33,1
165,166,Samoa,3,3,13,1,4.33,1
166,167,Cayman Islands,2,2,2,0,1.00,1
167,168,Andorra,2,2,13,0,6.50,1
168,169,Antigua and Barbuda,2,2,0,0,0.00,0
169,170,HaÃ¯ti,2,2,4,1,2.00,1
170,171,Nauru,2,2,0,0,0.00,0
171,172,Seychelles,2,2,7,2,3.50,1
172,173,Mali,2,2,0,0,0.00,0
173,174,Bermuda,2,2,12,0,6.00,1
174,175,Chad,2,2,0,0,0.00,0
175,176,Burundi,2,2,23,0,11.50,1
176,177,Liberia,1,1,1,0,1.00,1
177,178,Togo,1,1,0,0,0.00,0
178,179,British Indian Ocean Territory,1,1,37,0,37.00,1
179,180,American Samoa,1,1,0,0,0.00,0
180,181,Saint Helena,1,1,1,0,1.00,1
181,182,Gibraltar,1,1,0,0,0.00,0
182,183,Maldives,1,1,1,0,1.00,1
183,184,Gambia,1,1,0,0,0.00,0
184,185,Belize,1,1,6,0,6.00,1
185,186,Palau,1,1,0,0,0.00,0
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

,"Current-Dollar and ""Real"" Gross Domestic Product",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2016-09-29 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Annual,NaN,NaN,NaN,Quarterly,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,(Seasonally adjusted annual rates),NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1929,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
8,1930,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN
9,1931,77.4,904.8,NaN,1947q3,250.1,1930.3,NaN
10,1932,59.5,788.2,NaN,1947q4,260.3,1960.7,NaN
11,1933,57.2,778.3,NaN,1948q1,266.2,1989.5,NaN
12,1934,66.8,862.2,NaN,1948q2,272.9,2021.9,NaN
13,1935,74.3,939,NaN,1948q3,279.5,2033.2,NaN
14,1936,84.9,1060.5,NaN,1948q4,280.7,2035.3,NaN
15,1937,93,1114.6,NaN,1949q1,275.4,2007.5,NaN
16,1938,87.4,1077.7,NaN,1949q2,271.7,2000.8,NaN
17,1939,93.5,1163.6,NaN,1949q3,273.3,2022.8,NaN
18,1940,102.9,1266.1,NaN,1949q4,271,2004.7,NaN
19,1941,129.4,1490.3,NaN,1950q1,281.2,2084.6,NaN
20,1942,166,1771.8,NaN,1950q2,290.7,2147.6,NaN
21,1943,203.1,2073.7,NaN,1950q3,308.5,2230.4,NaN
22,1944,224.6,2239.4,NaN,1950q4,320.3,2273.4,NaN
23,1945,228.2,2217.8,NaN,1951q1,336.4,2304.5,NaN
24,1946,227.8,1960.9,NaN,1951q2,344.5,2344.5,NaN
25,1947,249.9,1939.4,NaN,1951q3,351.8,2392.8,NaN
26,1948,274.8,2020,NaN,1951q4,356.6,2398.1,NaN
27,1949,272.8,2008.9,NaN,1952q1,360.2,2423.5,NaN
28,1950,300.2,2184,NaN,1952q2,361.4,2428.5,NaN
29,1951,347.3,2360,NaN,1952q3,368.1,2446.1,NaN
...,...,...,...,...,...,...,...,...
255,NaN,NaN,NaN,NaN,2009q1,14383.9,14375,NaN
256,NaN,NaN,NaN,NaN,2009q2,14340.4,14355.6,NaN
257,NaN,NaN,NaN,NaN,2009q3,14384.1,14402.5,NaN
258,NaN,NaN,NaN,NaN,2009q4,14566.5,14541.9,NaN
259,NaN,NaN,NaN,NaN,2010q1,14681.1,14604.8,NaN
260,NaN,NaN,NaN,NaN,2010q2,14888.6,14745.9,NaN
261,NaN,NaN,NaN,NaN,2010q3,15057.7,14845.5,NaN
262,NaN,NaN,NaN,NaN,2010q4,15230.2,14939,NaN
263,NaN,NaN,NaN,NaN,2011q1,15238.4,14881.3,NaN
264,NaN,NaN,NaN,NaN,2011q2,15460.9,14989.6,NaN
265,NaN,NaN,NaN,NaN,2011q3,15587.1,15021.1,NaN
266,NaN,NaN,NaN,NaN,2011q4,15785.3,15190.3,NaN
267,NaN,NaN,NaN,NaN,2012q1,15973.9,15291,NaN
268,NaN,NaN,NaN,NaN,2012q2,16121.9,15362.4,NaN
269,NaN,NaN,NaN,NaN,2012q3,16227.9,15380.8,NaN
270,NaN,NaN,NaN,NaN,2012q4,16297.3,15384.3,NaN
271,NaN,NaN,NaN,NaN,2013q1,16475.4,15491.9,NaN
272,NaN,NaN,NaN,NaN,2013q2,16541.4,15521.6,NaN
273,NaN,NaN,NaN,NaN,2013q3,16749.3,15641.3,NaN
274,NaN,NaN,NaN,NaN,2013q4,16999.9,15793.9,NaN
275,NaN,NaN,NaN,NaN,2014q1,17025.2,15747,NaN
276,NaN,NaN,NaN,NaN,2014q2,17285.6,15900.8,NaN
277,NaN,NaN,NaN,NaN,2014q3,17569.4,16094.5,NaN
278,NaN,NaN,NaN,NaN,2014q4,17692.2,16186.7,NaN
279,NaN,NaN,NaN,NaN,2015q1,17783.6,16269,NaN
280,NaN,NaN,NaN,NaN,2015q2,17998.3,16374.2,NaN
281,NaN,NaN,NaN,NaN,2015q3,18141.9,16454.9,NaN
282,NaN,NaN,NaN,NaN,2015q4,18222.8,16490.7,NaN
283,NaN,NaN,NaN,NaN,2016q1,18281.6,16525,NaN
284,NaN,NaN,NaN,NaN,2016q2,18450.1,16583.1,NaN

In [42]:
energy=answer_one()
GDP=get_Energy()

C:\ProgramData\Anaconda6\lib\site-packages\pandas\util\_decorators.py:177: FutureWarning: the 'skip_footer' keyword is deprecated, use 'skipfooter' instead
  return func(*args, **kwargs)

In [24]:
pd.merge?

In [ ]:
# This function should return a single number.*

#def answer_two():
#    union =  pd.merge(pd.merge(ScimEn,energy,left_on='Country',right_index=True,how ='outer'),GDP,left_on='Country',right_on='Country Name',how ='outer')
#    intersect =  pd.merge(pd.merge(ScimEn,energy,left_on='Country',right_index=True,how ='inner'),GDP,left_on='Country',right_on='Country Name',how ='inner')
#    return len(union)-len(intersect)
#print(answer_two())

In [43]:
union =  pd.merge(pd.merge(ScimEn,energy,left_on='Country',right_index=True,how ='outer'),GDP,left_on='Country',right_on='Country Name',how ='outer')
union

C:\ProgramData\Anaconda6\lib\site-packages\pandas\core\reshape\merge.py:543: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

KeyError: 'Country Name'

In [1]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
def answer_two():
    return "ANSWER"

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
def answer_three():
    Top15 = answer_one()
    return "ANSWER"

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [ ]:
def answer_four():
    Top15 = answer_one()
    return "ANSWER"

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [63]:
k=[]
k=df2.replace('...',np.NaN)
k=k['Energy Supply per capita']
# # type(k)
l= k['Gigajoules']
# # m=l.mean()
l.mean()
# k

90.66666666666667

In [78]:
def answer_five():
    k=df2.replace('...',np.NaN)
    k=k['Energy Supply per capita']
    return k.mean()

answer_five()

Gigajoules    90.666667
dtype: float64

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [82]:
df2.tail()

,Energy Supply,Energy Supply per capita,% Renewable,Country
,Petajoules,Gigajoules,%,
Country1,,,,
Viet Nam,2554,28,45.32152,0
Wallis and Futuna Islands,0,26,0.00000,0
Yemen,344,13,0.00000,0
Zambia,400,26,99.71467,0
Zimbabwe,480,32,52.53612,0

In [89]:
d=df2.replace('...',np.NaN)
m=d['Energy Supply per capita']
m['Gigajoules'].argmax()

C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  This is separate from the ipykernel package so we can avoid doing imports until

'Iceland'

In [91]:
d=df2.replace('...',np.NaN)
m=d['Energy Supply per capita'].max()
#  country = Top15[Top15['% Renewable'] == m].iloc[0].name
# c=d[d['Energy Supply per capita']==m].iloc[0].name
c=d.iloc[0].name
c

'Afghanistan'

In [93]:
def answer_six():
    d=df2.replace('...',np.NaN)
    m=d['Energy Supply per capita'].max()
    l=d['Energy Supply per capita']
    c=l['Gigajoules'].argmax()
#     Top15 = answer_one()
    return c,m
answer_six()

C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """

('Iceland', Gigajoules    957.0
 dtype: float64)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
    Top15 = answer_one()
    return "ANSWER"

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [ ]:
def answer_eight():
    Top15 = answer_one()
    return "ANSWER"

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
    Top15 = answer_one()
    return "ANSWER"

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!