## Querying a  Series_ video03

In [1]:
#Dictionary of Data of offical National sports of countries from wikipedia

sports={'Archery':"Bhutan",
       'Golf':'scotland',
       'Sumo':'Japan',
       'Hockey':'Pakistan'}

import pandas as pd

In [2]:
s=pd.Series(sports)
s

Archery      Bhutan
Golf       scotland
Hockey     Pakistan
Sumo          Japan
dtype: object

#### Quering using iloc

In [3]:
k=s.iloc[2]
type(k)
# dtype(k)

str

In [4]:
s.iloc[2:3]

Hockey    Pakistan
dtype: object

In [5]:
k2=s.iloc[2:3]
type(k2)

pandas.core.series.Series

In [6]:
dtype(k2)

NameError: name 'dtype' is not defined

#### Quering using loc

In [7]:
s.loc['Golf']

'scotland'

In [8]:
#Dictionary of Data of offical National sports of countries from wikipedia

sports={99:"Bhutan",
       100:'scotland',
       101:'Japan',
       102:'Pakistan'}

In [9]:
s=pd.Series(sports)

In [10]:
s[99]

'Bhutan'

In [11]:
s.loc[99]

'Bhutan'

In [12]:
s.iloc[99]

IndexError: single positional indexer is out-of-bounds

In [12]:
s.iloc[0]

'Bhutan'

In [13]:
s[0]

KeyError: 0

### Performing Operation on Series

In [14]:
s2=pd.Series([100,120,101,3.0])
s2

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

#### Using self  defined function to calulate  sum

In [15]:
total=0
for item in s2:
    total+=item
    
print(total)

324.0

#### Using Numpy factorization method to calulate  sum ( Factorization speeds up processing)

In [16]:
import numpy as np
total=np.sum(s2)
total

324.0

In [17]:
np.random.randint(0,1000,10000)

array([ 42, 437, 305, ...,  45, 992, 743])

In [18]:
s3=pd.Series(np.random.randint(0,1000,10000))
s3.head()

0    574
1    346
2     55
3    344
4    243
dtype: int32

### comparing  Iteration of loop with numpy factorization

In [19]:
%%timeit -n 100
summary=0
for items in s3:
    summary+=items
summary

1.52 ms ± 60.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

#### using Vectorization = parallel computing

In [20]:

%%timeit -n 100
summary=np.sum(s3)
summary

247 µs ± 164 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Broadcasting:
with broadcast you can apply operation on every value of series 


### for example if we want to increase every value by 2, we can do so by using:

In [21]:
s3+=2
s3.head()

0    576
1    348
2     57
3    346
4    245
dtype: int32

####  Procedureal way to this is by iterting over every value of series

In [23]:
for label,value in s3.iteritems():
    s3.set_value(label,value+2)
s3.head()

0    580
1    352
2     61
3    350
4    249
dtype: int32

 ## Comapring computing time of iterative method with factorize function

In [24]:
%%timeit -n 10
s4=pd.Series(np.random.randint(0,1000,1000))
for label,value in s4.iteritems():
    s4.loc[label]=value+2

111 ms ± 3.97 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [25]:
%%timeit -n 10
s4b=pd.Series(np.random.randint(0,1000,1000))
s4b+=2

468 µs ± 103 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

## .loc attribute 
.loc attribute not only modifies data in place but also modify and add value 

we can also use mixed indexes

In [32]:
h=pd.Series([1,2,3])

In [33]:
h.loc['animal']='bear'

In [34]:
h

0            1
1            2
2            3
animal    bear
dtype: object

###  Index Values not unique

index value repeated (not unique) this is opposite of relational database

In [46]:
orignal_sports=pd.Series({'Archery':"Bhutan",
       'Golf':'scotland',
       'Sumo':'Japan',
       'Hockey':'Pakistan'})
orignal_sports

Archery      Bhutan
Golf       scotland
Hockey     Pakistan
Sumo          Japan
dtype: object

In [47]:
cricket_loving=pd.Series(['Australia','England','Pakistan','southAfrica'], index=['criket','criket','criket','criket'])

cricket_loving

criket      Australia
criket        England
criket       Pakistan
criket    southAfrica
dtype: object

In [48]:
cricket_loving

criket      Australia
criket        England
criket       Pakistan
criket    southAfrica
dtype: object

In [49]:
all_countries=orignal_sports.append(cricket_loving)

In [50]:
orignal_sports

Archery      Bhutan
Golf       scotland
Hockey     Pakistan
Sumo          Japan
dtype: object

In [45]:
all_countries

Archery         Bhutan
Golf          scotland
Hockey        Pakistan
Sumo             Japan
criket       Australia
criket         England
criket        Pakistan
criket     southAfrica
dtype: object