## The Series Data Structure

In [1]:
import pandas as pd

In [2]:
pd.Series?

#### List of my favourite Animals

In [5]:
animals=['Tiger', 'Dear','Goat']

#### a) Converting a list into Pandas Series

In [6]:
pd.Series(animals)

0    Tiger
1     Dear
2     Goat
dtype: object

#### b) Converting a List of Numbers into Pandas Series

In [7]:
numbers=[1,2,3,4]
pd.Series(numbers)

0    1
1    2
2    3
3    4
dtype: int64

###  2) Handling  Missing Data as None
### 'None' type in python is used to indicate a lack of Data

In [41]:
# None used in string Data

animal2=['Elephant','horse',None]
pd.Series(animal2)

0    Elephant
1       horse
2        None
dtype: object

In [42]:
# None used in Numeric data list

number2=[1,2,3,None]
pd.Series(number2)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [43]:
# Here in above we are putting 'None' Type pandas converts the list into Floating point(float64 instead of int64)
# and  uses 'NaN'(Not a Number) insteat of None

### 3) NaN is not None

it is simailar to None but its a numeric value and treated differently  for efficency reasons

In [44]:
import numpy as np
np.NaN==None

False

### NaN is not equal to NaN itself

In [45]:
np.NaN==np.NaN

False

### 4) Special function is used to test the presence of NaN

### isnan( )

In [46]:
np.isnan(np.NaN)

True

## 5) Using Dictionary to create a Series

not always data is available in the form of list
Labeled data could be minipulated using series, in such case labels becomes the index.

Series could be created from dictionary data. in this case indexes are automatically assigned to the keys of dictionary you provided and not just incrementing integer

#####  index of Series = Keys of Dictionary
##### Element of Series= Values of Dictonay

In [49]:
#Dictionary of Data of offical National sports of countries from wikipedia

In [50]:
sports={'Archery':"Bhutan",
       'Golf':'scotland',
       'Sumo':'Japan',
       'Hockey':'Pakistan'}

In [51]:
s=pd.Series(sports)
s

Archery      Bhutan
Golf       scotland
Sumo          Japan
Hockey     Pakistan
dtype: object

#### how to get the indexs of Series?
index object could be found by using index attribute

In [35]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Hockey'], dtype='object')

### can we seperately  index other  from the data?

Yes we can sperate by passing index as list explicitly to the series

In [52]:
p=pd.Series(['Tiger','giraffe','kangro','rhino'], index=['Bengladesh','Burma','Australia','Nerobi'])

In [53]:
p

Bengladesh      Tiger
Burma         giraffe
Australia      kangro
Nerobi          rhino
dtype: object

### can we pass our indexes to the series that uses dictionary data  for series creation.

Yes in this case only those index that are also in dictionary will contain value, other indexes that are passed but don't contain data in dictionary will contain NaN.

In [40]:
s2=pd.Series(sports,index=['Polo', 'karate', 'Tennis','Golf'])
s2

Polo           NaN
karate         NaN
Tennis         NaN
Golf      scotland
dtype: object